@import "../../bootstrap-3.3.2/less/bootstrap.less"; 
@navbar-inverse-color:                     black;
@navbar-inverse-bg:                         yellow;
@navbar-inverse-border:                   darkgreen;

/*
.navbar-inverse {
#gradient > .vertical(lighten(@navbar-default-bg,10%),darken(@navbar-default-bg,10%));
}
*/
