// footer.less
footer[role="contentinfo"] { 
	border-top: 1px solid @footer-border; 
	clear: both; 
	font-size: 0.857143rem; 
	line-height: 2; 
	margin-left: auto; 
	margin-right: auto;
    margin-top: 1.71429rem; 
    max-width: 68.5714rem; 
    padding: 0 0 1.5rem; 
}

footer[role="contentinfo"] {
	.links(@footer-link, @footer-link-hover);
}
