// pages.less

.entry-header {
	.entry-title {
		color: @entry-title-color;
	}	
}

.avatar.photo { 
	float: left;
	padding-right: 5px; 
}

.comments-link > a { 
	font-size: 10px; 
}

.comment-meta { 
	border-bottom: 1px solid @white; 
	padding: 3px 3px 9px; 
	background-color: #FFA500; 
}

.comment-metadata {
	time { 
		font-size: 11px; 
	}
}

.comment-content > p { 
	padding: 8px; 
}

.comments-area { 
	margin-top: 25px; 
}

.comment-body { 
	border: 1px solid @white; 
	border-radius: 2px; 
	background-color: @white; 
	color: @black; 
}

.reply { 
	float: right;
	margin-right: -30px;
	margin-top: -145px; 
	width: 75px; 
}