// variables.less

// Colors
@white: #fff;
@gray: #666;
@gray-dark: #333;
@gray-light: #eee;
@lime-green: #00ac4b;
@blue: #242596;
@blue-dark: #335c64;
@soft-green: #c6e097;
@vivid-orange: #f95812;
@soft-orange: #f8b598;
@very-light-gray: #ededed;
@dark-cyan: #4d8b97;
@desaturated-cyan: #335c64;
@black: #000;

// Content
@body-background-color: @gray;
@body-color: @gray-light;
@content-background-color: @gray-dark;

// Header
@site-title-color: @white;
@site-title-color-hover: @lime-green;
@site-description-color: @lime-green;

// Links
@links-color: @blue;
@links-color-hover: @blue-dark;

// Navigation
@menu-items-color: @gray-light;
@menu-items-color-hover: @blue;
@menu-items-color-active: @white;

// Posts
@entry-title-color: @white;
@entry-title-link: @vivid-orange;
@entry-title-link-hover: @desaturated-cyan;
@border-color: @gray;

// Widgets
@search-form-background-color: @gray;
@search-form-border-color: @gray;
@search-form-text-color: @white;
@widget-title: @soft-green;
@widget-links: @vivid-orange;
@widget-links-hover: @soft-orange;

// Footer
@footer-border: @very-light-gray;
@footer-link: @dark-cyan;
@footer-link-hover: @desaturated-cyan;