// widgets.less

.widget-area{
	float: right; width: 100%; 
	.widget {
		.widget-title {
			color: @soft-green;
			border-bottom: 2px solid @gray; 
			color: @soft-green; 
			font-family: 'Rock Salt',cursive;
		}
		.links(@vivid-orange, @soft-orange);
	}	
}

// Search form
#s, #searchsubmit {
	background: @search-form-background-color;
	border-color: @search-form-border-color;
	color: @white;
}

.search-field { 
	float: right; 
	margin-top: -50px; 
	margin-right: 67px; 
}

.search-submit{ 
	float: right;
	margin-top: -49px; 
}