body{ background-color: lightblue;}
div
{
width:500px; 
height:50px; 
margin: 0 auto; //center content
margin-bottom:10px;
}
.bordered(@radius: 10px; @border-color: darkblue;) {
 border-radius: @radius;
 border: 5px solid @border-color;
}
#header{
background-color: red;
.bordered();
}

#content{
background-color: white;
min-height: 300px;
.bordered(20px);
}

#footer{
background-color: navy;
 .bordered(10px;white);
}
