.gradient {
 background-image:linear-gradient(to bottom, red, yellow); 
 background-repeat: repeat-x;
 filter: ~"-progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffff0000', EndColorStr='#ffffff00')";
 }

header {
color: white;
.gradient;
}
