@import "retina.less";

@mobile: ~"screen and (max-width: 30rem)";

#wrapper { width: 96%; max-width: 45rem; margin: auto; padding: 2%; } 
#main { width: 60%; margin-right: 5%; float: left; }		
aside { width: 35%; float: right; }

a { text-decoration: none; text-transform: uppercase; }
a, img { border: medium none; color: #000000; font-weight: bold;  outline: medium none; }

header {
  font-family: 'Droid Sans', sans-serif;	
  h1 { height: 70px; float: left; display: block; font-weight: 700; font-size: 2.0rem}	
  nav { 
	float: right; margin-top: 40px; height: 22px; border-radius: 4px; 
	li { display: inline; margin-left: 15px; }
	ul { font-weight: 400; font-size: 1.1rem; }
	a { 
	  padding: 5px 5px 5px 5px; 
      &:hover { background-color: #27a7bd; color: #ffffff; border-radius: 4px; }
	}
  }
}

#skipTo {
	display: none;
	li { background: #197a8a; }
	a { color: #ffffff; font-size: 0.8rem; }
}
			
#banner {
	float: left; margin-bottom: 15px; width: 100%;
	img { width: 100%; }
}

@media @mobile {
  #skipTo { 
  	display: block; 
	a { 
	  display: block; padding: 10px; text-align: center; height: 20px; 
	  &:hover { background-color: #27a7bd; border-radius: 0px; height: 20px; }
    }
  }

  #main, aside { float: left; clear: left; margin: 0 0 10px; width: 100%; }
  #banner { margin-top: 150px; }

  header h1 { margin-top: 20px; }

  header nav{
	float: left; clear: left; margin: 0 0 10px; width: 100%;
	li { margin: 0; background: #efefef; display: block; margin-bottom: 3px; height: 40px; }
	a { 
	  display: block; padding: 10px; text-align: center;
	  &:hover { background-color: #27a7bd; border-radius: 0px; padding: 10px; height: 20px; }
    }
  }
}

#banner img { .at2x('/images/abstract.png', 200px, 100px); }
