@small: ~"(max-width: 699px) and (min-width: 520px)";
@medium: ~"(max-width: 1000px) and (min-width: 700px)";
@large: ~"(min-width: 1001px)";
@xlarge: ~"(min-width: 1151px)";

* { margin: 0; padding: 0; }
body { font: 14px Georgia, serif; }
h3 { margin: 0 0 8px 0; }

p { margin: 0 25px }

#fluid-wrap { width: 70%; margin: 60px auto; padding: 20px; background: #eee; overflow: hidden; }
#main-content { width: 65%; float: right; } 

#sidebar {
  width: 35%; float: left;
  ul { list-style: none; }
  ul li a { color: #900; text-decoration: none; padding: 3px 0; display: block; }
}

@media @small {
  #sidebar ul li a { padding-left: 21px; background: url(../img/email.png) left center no-repeat; }
}

@media @medium { 
  #sidebar ul li a:before { content: "Email: "; font-style: italic; color: #666; }
}

@media @large {
  #sidebar ul li a:after { content: " (" attr(data-email) ")"; font-size: 11px; font-style: italic; color: #666; }
}

@media @xlarge {
  #sidebar ul li a { padding-left: 21px; background: url(../img/email.png) left center no-repeat; }
}