/*  */


.@{mc-css-prefix}-light-sunrise:before { content: @mc-var-light-sunrise; }
.@{mc-css-prefix}-light-sunshine:before { content: @mc-var-light-sunshine; }
.@{mc-css-prefix}-light-moon:before { content: @mc-var-light-moon; }
.@{mc-css-prefix}-light-eclipse:before { content: @mc-var-light-eclipse; }
.@{mc-css-prefix}-light-clearing:before { content: @mc-var-light-clearing; }
.@{mc-css-prefix}-light-storm:before { content: @mc-var-light-storm; }
.@{mc-css-prefix}-light-frost:before { content: @mc-var-light-frost; }
.@{mc-css-prefix}-light-dayclouds:before { content: @mc-var-light-dayclouds; }
.@{mc-css-prefix}-light-nightclouds:before { content: @mc-var-light-nightclouds; }
.@{mc-css-prefix}-light-dayfog:before { content: @mc-var-light-dayfog; }
.@{mc-css-prefix}-light-nightfog:before { content: @mc-var-light-nightfog; }
.@{mc-css-prefix}-light-mistyclouds:before { content: @mc-var-light-mistyclouds; }
.@{mc-css-prefix}-light-misty:before { content: @mc-var-light-misty; }
.@{mc-css-prefix}-light-dayclouds:before { content: @mc-var-light-dayclouds; }
.@{mc-css-prefix}-light-lighting:before { content: @mc-var-light-lighting; }
.@{mc-css-prefix}-light-heavylighting:before { content: @mc-var-light-heavylighting; }
.@{mc-css-prefix}-light-rainy:before { content: @mc-var-light-rainy; }
.@{mc-css-prefix}-light-rain:before { content: @mc-var-light-rain; }
.@{mc-css-prefix}-light-cloudy:before { content: @mc-var-light-cloudy; }
.@{mc-css-prefix}-light-cloudyrain:before { content: @mc-var-light-cloudyrain; }
.@{mc-css-prefix}-light-snowy:before { content: @mc-var-light-snowy; }
.@{mc-css-prefix}-light-snow:before { content: @mc-var-light-snow; }
.@{mc-css-prefix}-light-heavysnow:before { content: @mc-var-light-heavysnow; }
.@{mc-css-prefix}-light-hail:before { content: @mc-var-light-hail; }
.@{mc-css-prefix}-light-grey:before { content: @mc-var-light-grey; }
.@{mc-css-prefix}-light-thunder:before { content: @mc-var-light-thunder; }
.@{mc-css-prefix}-light-heavythunder:before { content: @mc-var-light-heavythunder; }

.@{mc-css-prefix}-dark-sunshine:before { content: @mc-var-dark-sunshine; }
.@{mc-css-prefix}-dark-moon:before { content: @mc-var-dark-moon; }
.@{mc-css-prefix}-dark-dayclouds:before { content: @mc-var-dark-dayclouds; }
.@{mc-css-prefix}-dark-nightclouds:before { content: @mc-var-dark-nightclouds; }
.@{mc-css-prefix}-dark-clouds:before { content: @mc-var-dark-clouds; }
.@{mc-css-prefix}-dark-lighting:before { content: @mc-var-dark-lighting; }
.@{mc-css-prefix}-dark-rainy:before { content: @mc-var-dark-rainy; }
.@{mc-css-prefix}-dark-rain:before { content: @mc-var-dark-rain; }
.@{mc-css-prefix}-dark-cloudy:before { content: @mc-var-dark-cloudy; }

.@{mc-css-prefix}-dark-cloudyrain:before { content: @mc-var-dark-cloudyrain; }
.@{mc-css-prefix}-dark-snowy:before { content: @mc-var-dark-snowy; }
.@{mc-css-prefix}-dark-snow:before { content: @mc-var-dark-snow; }
.@{mc-css-prefix}-dark-hail:before { content: @mc-var-dark-hail; }
.@{mc-css-prefix}-dark-grey:before { content: @mc-var-dark-grey; }
.@{mc-css-prefix}-dark-thunder:before { content: @mc-var-dark-thunder; }

.@{mc-css-prefix}-thermometer:before { content: @mc-var-thermometer; }
.@{mc-css-prefix}-compass-rose:before { content: @mc-var-compass-rose; }
.@{mc-css-prefix}-not-vailable:before { content: @mc-var-not-vailable; }
.@{mc-css-prefix}-celcius:before { content: @mc-var-celcius; }
.@{mc-css-prefix}-fahrenheit:before { content: @mc-var-fahrenheit; }
