/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'MeteoconsRegular';
  src: url('@{mc-font-path}/meteocons-webfont.eot?v=@{mc-version}');
  src: url('@{mc-font-path}/meteocons-webfont.eot?#iefix&v=@{mc-version}') format('embedded-opentype'),
    url('@{mc-font-path}/meteocons-webfont.woff?v=@{mc-version}') format('woff'),
    url('@{mc-font-path}/meteocons-webfont.ttf?v=@{mc-version}') format('truetype'),
    url('@{mc-font-path}/meteocons-webfont.svg?v=@{mc-version}#meteoconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
