// Variables
// --------------------------

@mc-font-path:        "../fonts";
@mc-css-prefix:       mc;
@mc-version:          "1.0";
@mc-border-color:     #eee;
@mc-inverse:          #fff;
@mc-li-width:         (30em / 14);

@mc-var-light-sunrise: "\0041";
@mc-var-light-sunshine: "\0042";
@mc-var-light-moon: "\0043";
@mc-var-light-eclipse: "\0044";
@mc-var-light-clearing: "\0045";
@mc-var-light-storm: "\0046";

@mc-var-light-frost: "\0047";
@mc-var-light-dayclouds: "\0048";
@mc-var-light-nightclouds: "\0049";
@mc-var-light-dayfog: "\004a";
@mc-var-light-nightfog: "\004b";
@mc-var-light-mistyclouds: "\004c";

@mc-var-light-misty: "\004d";
@mc-var-light-clouds: "\004e";
@mc-var-light-lighting: "\004f";
@mc-var-light-heavylighting: "\0050";
@mc-var-light-rainy: "\0051";
@mc-var-light-rain: "\0052";

@mc-var-light-cloudy: "\0053";
@mc-var-light-cloudyrain: "\0054";
@mc-var-light-snowy: "\0055";
@mc-var-light-snow: "\0056";
@mc-var-light-heavysnow: "\0057";
@mc-var-light-hail: "\0058";

@mc-var-light-grey: "\0059";
@mc-var-light-thunder: "\005a";
@mc-var-light-heavythunder: "\0030";

@mc-var-dark-sunshine: "\0031";
@mc-var-dark-moon: "\0032";
@mc-var-dark-dayclouds: "\0033";
@mc-var-dark-nightclouds: "\0034";
@mc-var-dark-clouds: "\0035";
@mc-var-dark-lighting: "\0036";
@mc-var-dark-rainy: "\0037";
@mc-var-dark-rain: "\0038";
@mc-var-dark-cloudy: "\0039";

@mc-var-dark-cloudyrain: "\0021";
@mc-var-dark-snowy: "\0022";
@mc-var-dark-snow: "\0023";
@mc-var-dark-hail: "\0024";
@mc-var-dark-grey: "\0025";
@mc-var-dark-thunder: "\0026";

@mc-var-thermometer: "\0027";
@mc-var-compass-rose: "\0028";
@mc-var-not-vailable: "\0029";
@mc-var-celcius: "\002a";
@mc-var-fahrenheit: "\002b";
