li {
  width: 194px;
  padding: 5px;
  margin: 15px 10px;
  border: 1px solid #cac09f;
  background: #fdf8e4;
  text-align: center;
  float: left;
  list-style: none outside none;
  border-radius: 4px;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.2);
}
figure {
  position: relative;
  margin: 0;
}
figure::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/overlay.png) no-repeat;
  border: none;
}
figcaption {
  font: 100%/120% Handlee, Arial, Helvetica, sans-serif;
  color: #787568;
  width: 194px;
}
