colors {
color1: rgb(255,0,0); //red
color2: rgb(100%,0,0); //red
color3: rgb(255,255,0); //yellow
color4: rgb(100%,100%,0); //yellow
color5: rgb(255,99,71); //tomato
color6: rgb(100%,38.8%,27.8%); //tomato
col0r7: argb(rgba(0, 0, 255, 0.5));
}

