@import "mixinlibrary.less";

.button {
  .formfont;
  .border-radius(.5em);
  .box-shadow(1px; 2px; rgba(0,0,0,.2));
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: .5em 2em .55em;
}

.button:active {
  position: relative;
  top: 1px;
}

.red {
  .background(#ed1c24);
  .button(#ed1c24, #e93a3f, #aa1317);
}

.red:hover {
  .background(#f14b52);
  .button(#f14b52, #ee686c, #d8181d);
}

.red:active {
  .background(#c61017);
  .button(#c61017, #d8181e, #7c0e11);
}

input { margin-top: 15px; width: 250px;  }
#submitfrm { border: 1px solid black; .border-radius(4px); width: 350px; padding: 10px; height: 125px; .box-shadow(1px; 2px; rgba(0,0,0,.2)); }
#submitbtn { width: 75px; font-family: Verdana; font-size: 14px; float: right; margin: 10px; clear:both; color: #fff; }