/* CSS crunched with Crunch - http://crunchapp.net/ */
.shape1 {
  color: #3f004b;
  border: 1px solid #3f004b;
}
.shape2 {
  background: #fff;
  color: #3f004b;
}
.shape3 {
  border: 1px solid #3f004b;
}
