.wrapper {
  #content {
    //two third of @basic-width 
    width:(@basic-width * 2 / 3);
    float:left;
    min-height:200px;
  }
  //one third of @basic-width 
  #sidebar {
  
  } 
  
  aside {
   float:right;
  }
    
  h2 {
    color: @content-dark-color;
  }
   
  padding: 10px;
  .center-content; 
  .clearfix();   
}
