/* variables */

/* colors */
@dark-color: darkblue;
@light-color: lighten(@dark-color,40%);

/* fonts */
@base-font: "Arial";
@base-font-color: darken(@dark-color,20%);

/* layout */
@basic-width: 500px;


/* header */
@header-dark-color: @dark-color;
@header-light-color: @light-color;
@header-height: 75px;

/* content */
@content-dark-color: @dark-color;

/* footer */
@footer-dark-color:  @dark-color;
@footer-light-color:  @light-color;
@footer-height: 100px;
@footer-gutter: 10px;
