.roundedcorners(@radius) {
border-radius: @radius;
border: 3px solid red;
background-color: navy;
padding:10px;
color: white;
}
header {
.roundedcorners(10px);
}
p {
.roundedcorners(20px);
}
footer {
.roundedcorners(30px);
}
