@import "normalize.less";
@import "basics.less";
@import "variables.less";
@import "mixins.less";

@import "header.less";
@import "content.less";
@import "sidebar.less";
@import "footer.less";

body
{
 	font-family: @base-font;
 	color: @base-font-color;
 	padding-top:50px;
}

#content a[href*="linux"]:before {
 font-family:'FontAwesome';
 content: "\f17c\00a0";
 }
