body{
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 13px;
}

.demo { font-style: italic; }

.box {
  border: 1px solid #000;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;	
  width: 300px;
  padding-top: 15px;
}

.info:extend(.box) {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('../img/info.png');
}

.success:extend(.box) {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('../img/valid.png');
}

.warning:extend(.box) {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('../img/warning.png');
}

.error:extend(.box) {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('../img/error.png');
}
.validation:extend(.box) {
  width: 280px;
  padding-left: 70px; 
  color: #D63301;
  background-color: #FFCCBA;
  background-image: url('../img/error.png');
}