formattedstrings {
quotesincluded: %("Open the  %a file","../less.txt");
quotesincludedescaped: %("Open the %A file","../less.txt");
quotesremoved: %("Open the  %s file","../less.txt");
quotesremovedescaped: %("Open the %S file","../less.txt");
}
