.wrapper {
  #content {
    //two third of @basic-width 
    width: (@basic-width * 2 / 3);
    float:left;
    min-height:200px;
    aside {
	  float:right;
   }
  }
  //one third of @basic-width 
  #sidebar {
   width: (@basic-width * 1 / 3);
   float:left;
  } 
      
  h2 {
    color: @content-dark-color;
  }
   
  .center-content; 
  .clearfix();   
}
