@import "normalize.less";
@import "basics.less";
@grid-container-width: 100%;
@column-number: 2;
@break-point: 768px;

.container {

	width: @grid-container-width;
	
	.row {
		.col, .col2 {
			width: 100%;
		}
		@media(min-width: @break-point) {
		
			.col {
					  float: left;
					  width: (@grid-container-width/@column-number);
			}
		}	
	}
}
