footer {
  div {
    @media (min-width:501px) {
    float: left;
	width: ((@basic-width/3)-@footer-gutter);
    }
    min-height: @footer-height;
    background-color: @footer-dark-color;
    margin: @footer-gutter (@footer-gutter / 2);
    .border-radius(15px);
    .box-shadow(0 0 10px, 70%);
    p {padding:10px;}
  }
  @media (min-width:501px) {
  div:first-child {
    margin: @footer-gutter @footer-gutter @footer-gutter 0; 
  }
  div:last-child {
    margin: @footer-gutter 0 @footer-gutter @footer-gutter; 
  }
  color: @footer-light-color;
  }
  .center-content; 
   
}
