@import "../normalize.less";
@import "../basics.less";
@import "variables.less";
@import "mixinsresponsive.less";

@import "header.less";
@import "contentresponsive.less";
@import "sidebarresponive.less";
@import "footer.less";

body
{
 	font-family: @base-font;
 	color: @base-font-color;
 	padding-top:50px;
}
@basic-width: 900px;

@icons: "\f007","\f004","\f108","\f112","\f072","\f17c";

.add-icons-to-list(@i) when (@i > 0) {

.add-icons-to-list((@i - 1));
      @icon_: e(extract(@icons, @i));
#sidebar ul li:nth-child(@{i}) a:before {
 font-family:'FontAwesome';
 content: "@{icon_}\00a0";
 }
}

.add-icons-to-list(length(@icons));
