.fontfamily() {
	font-family: 'Kite One', Arial, sans-serif;
}

h1 { .fontfamily; color: #808080; }

h2 { .fontfamily; color: #ff0000; }

h3 { .fontfamily; color: #008000; }

h4 { .fontfamily; color: #ffa500; }

h5 { .fontfamily; color: #800080; }

h6 { .fontfamily; color: #000000; }