h1 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #808080;
}
h2 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #ff0000;
}
h3 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #008000;
}
h4 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #ffa500;
}
h5 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #800080;
}
h6 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #000000;
}
