h1 {
  font-family: "PT Sans";
  color: #808080;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTS55F-webfont.eot");
  src: url("../fonts/PTS55F-webfont.eot?#iefix") format("eot"), url("../fonts/PTS55F-webfont.woff") format("woff"), url("../fonts/PTS55F-webfont.ttf") format("truetype"), url("../fonts/PTS55F-webfont.svg#webfont") format("svg");
}
h2 {
  font-family: "PT Sans";
  color: #ff0000;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTS55F-webfont.eot");
  src: url("../fonts/PTS55F-webfont.eot?#iefix") format("eot"), url("../fonts/PTS55F-webfont.woff") format("woff"), url("../fonts/PTS55F-webfont.ttf") format("truetype"), url("../fonts/PTS55F-webfont.svg#webfont") format("svg");
}
h3 {
  font-family: "PT Sans";
  color: #008000;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTS55F-webfont.eot");
  src: url("../fonts/PTS55F-webfont.eot?#iefix") format("eot"), url("../fonts/PTS55F-webfont.woff") format("woff"), url("../fonts/PTS55F-webfont.ttf") format("truetype"), url("../fonts/PTS55F-webfont.svg#webfont") format("svg");
}
h4 {
  font-family: "PT Sans";
  color: #ffa500;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTS55F-webfont.eot");
  src: url("../fonts/PTS55F-webfont.eot?#iefix") format("eot"), url("../fonts/PTS55F-webfont.woff") format("woff"), url("../fonts/PTS55F-webfont.ttf") format("truetype"), url("../fonts/PTS55F-webfont.svg#webfont") format("svg");
}
h5 {
  font-family: "PT Sans";
  color: #800080;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTS55F-webfont.eot");
  src: url("../fonts/PTS55F-webfont.eot?#iefix") format("eot"), url("../fonts/PTS55F-webfont.woff") format("woff"), url("../fonts/PTS55F-webfont.ttf") format("truetype"), url("../fonts/PTS55F-webfont.svg#webfont") format("svg");
}
h6 {
  font-family: "PT Sans";
  color: #000000;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTS55F-webfont.eot");
  src: url("../fonts/PTS55F-webfont.eot?#iefix") format("eot"), url("../fonts/PTS55F-webfont.woff") format("woff"), url("../fonts/PTS55F-webfont.ttf") format("truetype"), url("../fonts/PTS55F-webfont.svg#webfont") format("svg");
}
