.font-face(@family, @filename: @family) {

  font-family: "@{family}";

  @font-face {
    font-family: "@{family}";
    @file: "../fonts/@{filename}";
    src: url("@{file}.eot");
    src: url("@{file}.eot?#iefix") format("eot"),
        url("@{file}.woff") format("woff"),
        url("@{file}.ttf") format("truetype"),
        url("@{file}.svg#webfont") format("svg");
  }
}

@name: PTS55F-webfont;
@family: "PT Sans";
 
h1 { .font-face(@family, @name); color: #808080; }
 
h2 { .font-face(@family, @name); color: #ff0000; }
 
h3 { .font-face(@family, @name); color: #008000; }
 
h4 { .font-face(@family, @name); color: #ffa500; }
 
h5 { .font-face(@family, @name); color: #800080; }
 
h6 { .font-face(@family, @name); color: #000000; }