body:after {
  background: red;
  color: #ffffff;
  content: "undefined";
  left: 0;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding: 0.5em 1em;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 99;
}
@media only screen and (max-width: 529px) {
  body:after {
    background: orange;
    content: "mobile";
  }
  section {
    width: 85%;
    font-size: 10.5px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  body:after {
    background: purple;
    content: "tablet";
  }
  section {
    width: 37%;
    font-size: 11.9px;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  body:after {
    background: green;
    content: "desktop";
  }
  section {
    width: 40%;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1129px) {
  body:after {
    background: blue;
    content: "desktop xl";
  }
  section {
    width: 45%;
    font-size: 17.5px;
  }
}
body {
  background: #fffaef;
  color: #4f4351;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5em 2em;
}
h2 {
  color: #4f4351;
  letter-spacing: -0.05em;
  text-align: center;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
}
p {
  line-height: 1.4;
}
section {
  background: rgba(233, 229, 155, 0.2);
  border: 1px solid rgba(233, 229, 155, 0.5);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(154, 136, 100, 0.5);
  display: block;
  float: left;
  min-height: 300px;
  overflow: auto;
  padding: 1em;
  position: relative;
}
section h2 {
  line-height: 1;
  margin: 0 0 1em 0;
  min-height: 2.5em;
  padding: 0;
}
