@Alegreya-Sans: "Alegreya Sans",sans-serif;

#SansFont() {
  &.light { font-family: @Alegreya-Sans; font-weight: 300; }
  &.bold { font-family: @Alegreya-Sans; font-weight: 500; }
  &.extrabold { font-family: @Alegreya-Sans; font-weight: 800; }
}

.para1 { #SansFont > .light; }
.para2 { #SansFont > .bold; }
h1 { #SansFont > .extrabold; }

section {
  background-color: #ffc;
  border-radius: 5px;
  padding: 5px; 
  border: 1px solid black; 
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  width: 400px; 
  h1 {
    background-color: #c00; 
    margin-top: 0px; 
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px; 
    padding: 3px; 
    color: #fff; 
  }
}