// header.less

.site-title a {
	color: @site-title-color;
}

.site-header {
	h1, h2 {
		.links(@site-title-color, @site-title-color-hover);
	}
}

.site-header {
	h1 { 
		font-size: 2.35714rem; line-height: 1.84615; margin-bottom: 0; 
	}

	h2 {
		color: @site-description-color;
	}
}

#site-header img { width: 99.9%; }