body {
	margin: 50px; 
}

#text {
  padding-top: 120px;
  width: 300px;
}

.boxfont {
	color: #fff;
	font-weight: bold;
}

#transform2dbox {
  background: #85486d;
  float: left;
  position: absolute;
  margin-left: 10px;
  padding: 45px;
} 

#transform2dbox:hover {
  transform: rotate(30deg);
} 

#transform3dbox {
  padding: 45px;
  background: #85486d;
  float: left;
  position: absolute;
  margin-left: 170px;
} 

#transform3dbox:hover {
  -webkit-transform: rotateX(130deg); /* Chrome, Safari, Opera */
  transform: rotateX(130deg);
} 