header {
  background-color: @header-dark-color;
  min-height: @header-height;
  padding: 10px;
  .border-radius(15px);
  .box-shadow(0 0 10px, 70%);
  .make-row();
  h1 {
    color: @header-light-color;
     .make-column(3);
  }
}
