html {
  font-family: sans-serif;
  font-size: 100%;
  background-color: #ffffff;
  height: 100%;
}
body {
  margin: 0;
}
section {
  display: block;
}
nav ul {
  list-style: none outside none;
}
@font-face {
  font-family: 'ModernPictogramsNormal';
  src: url('../fonts/modernpics.eot');
  src: url('../fonts/modernpics.eot') format('embedded-opentype'), url('../fonts/modernpics.woff') format('woff'), url('../fonts/modernpics.ttf') format('truetype'), url('../fonts/modernpics.svg#ModernPictogramsNormal') format('svg');
}
a:focus {
  outline: thin dotted;
}
a:hover {
  outline: 0 none;
}
a:active {
  outline: 0 none;
}
.cf:after {
  clear: both;
  content: " ";
  display: table;
}
.cf:before {
  content: " ";
  display: table;
}
.social-linkedin,
.social-twitter,
.social-technorati {
  background: url("../img/sprites.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  width: 48px;
  height: 48px;
}
.social-linkedin {
  background-position: -17px -11px;
}
.social-twitter {
  background-position: -79px -11px;
}
.social-technorati {
  background-position: -143px -11px;
}
.bio,
.bio .detail,
.social {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.vcard {
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin: 50px auto;
  width: 500px;
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}
.vcard ul {
  margin: 0;
  padding: 0;
}
.vcard ul li {
  list-style: none outside none;
}
.bio {
  border-bottom: 1px solid #e6e6e6;
  padding: 20px;
}
.bio img {
  border: 5px solid #ffffff;
  display: block;
  float: left;
}
.bio .detail {
  color: #808080;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 350px;
  float: left;
}
.bio li:before {
  font-family: 'ModernPictogramsNormal', arial, sans-serif;
  height: 20px;
  margin-right: 20px;
  width: 20px;
}
.name:before {
  content: "f";
}
.email:before {
  content: "m";
}
.phone:before {
  content: "N";
}
.social {
  background-color: #e6e6e6;
  padding: 10px;
  width: 100%;
}
.social ul {
  text-align: right;
}
.social ul li {
  display: inline-block;
  height: 48px;
  width: 48px;
}
.social ul li a {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  width: 100%;
}
